.progress2 {
    width: 20vh;
    height: 3.5vh;
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 5px;
}

.progress-done2 {
    background: linear-gradient(90deg, #A2A2A2 0%, #000000 100%);
    border-radius: 5px;
    box-sizing: border-box;
    height: 3.5vh;
}